<div>
  <div>
    <h1><%-title-%></h1>
    <%- messages() %>
  </div>
  <div>
    <table>
      <form>
        <table>
          <thead>
            <tr>
              <% Object.keys(tableData[0]).forEach((column) => { %>
              <th class="column-header" data-column="<%= column %>">
                <%= column.replace(/_/g, " ") %>
              </th>
              <% }) %>
            </tr>
          </thead>
          <tbody>
            <% tableData.forEach((row, rowIndex) => { %>
            <tr>
              <% Object.keys(row).forEach((column) => { %>
              <td data-column="<%= column %>">

                <% if (column === "account_id") { %>
                <input
                  type="hidden"
                  readonly
                  name="accounts[<%= rowIndex %>][<%= column %>]"
                  value="<%= row[column] %>"
                />
                <span><%= row[column] %></span>
                <% } else if (column === "account_type") { %>
                <select name="accounts[<%= rowIndex %>][<%= column %>]">
                    <% options.forEach((accountType) => { 
                        console.log(accountType.account_type)%>
                        <option value="<%= accountType.account_type %>" 
                          <% if (row[column] === accountType.account_type) { %> selected <% } %>>
                          <%= accountType.account_type %>
                        </option>
                      <% }) %>
                    </select>
                    
                <% } else { %>

                <input
                  type="text"
                  name="accounts[<%= rowIndex %>][<%= column %>]"
                  value="<%= row[column] %>"
                />
                <% } %>
              </td>
              <% }) %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </form>
    </table>
  </div>
</div>
